* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./images/background.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    position: sticky;
    top: 0vh;
    z-index: 1;
    padding-bottom: 60px;
}

h1 {
    font-family: "Playwrite In", serif;
    font-size: 50px;
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.37);
    text-align: center;
}

.splash {
    display: grid;
    align-items: end;
    justify-items: center;
    background: url('./images/pipi02.png') no-repeat center/cover;
    height: 400px;
    color: white;
    font-family: "Outfit", serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}



.fecha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Outfit", serif;
    padding: 50px;
    color: white;
    text-shadow: 2px 2px 2px black;
}


h2 {
    font-size: 35px;
}

.countdown {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px;
    margin-bottom: 30px;
}

#timer {
    display: flex;
    gap: 20px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    font-family: "Outfit", serif;
}

#timer div {
    background: linear-gradient(135deg, regba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
}

#timer span {
    display: block;
    font-size: 20px;
    width: 40px;
}

.titulo {
    padding: 10px;
}

.ubicacion {
    font-family: "Outfit", serif;
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 50px;
    text-shadow: 2px 2px 2px black;
}

@keyframes blinkBackground {
    0% {
        background-color: red;
    }

    50% {
        background-color: transparent;
    }

    100% {
        background-color: red;
    }
}

.blinking {
    animation: blinkBackground 1s infinite;
    padding: 10px;
    /* Para que el fondo se vea mejor */
    display: inline-block;
    /* Evita que se expanda en todo el ancho */
    border-radius: 25px;
}


.lugar {
    font-size: 20px;
    padding: 8px;
}

.mapa {
    font-size: 20px;
    color: white;
    text-decoration: none;
    background-color: rgba(75, 75, 75, 0.533);
    margin: 5px;
    padding: 10px;
    border-radius: 25px;
}

.dressCode {
    font-family: "Outfit", serif;
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 50px;
    text-shadow: 2px 2px 2px black;
}

.regalo {
    font-family: "Outfit", serif;
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 50px;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

.regalo img {
    width: 70px;
}

.open {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    padding: 10px 50px;
    border-radius: 2em;
    background-color: #44a786;
}

.modal {
    width: 100%;
    position: fixed;
    inset: 0;
    background: #0000005d;
    display: flex;
    transition: transform .5s;
    transform: translate(100%);
}

.modal:target {
    transform: translate(0);
}

.modal_container {
    font-family: "Outfit", serif;
    font-size: 30px;
    position: relative;
    width: 80%;
    height: 45%;
    background-color: #fff;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal_container img {
    width: 180px;
}

.modal_title {
    text-align: center;
    font-size: 3rem;
}

.modal_close {
    position: absolute;
    background-color: crimson;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.asistencia {
    font-family: "Outfit", serif;
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 50px;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

.whatsapp img {
    width: 50px;
    height: 50px;
    filter: drop-shadow(1px 1px 10px rgba(80, 255, 89, 0.8)) drop-shadow(-1px -1px 10px rgba(80, 255, 89, 0.8));
    animation: glow 0.7s infinite ease alternate;
    border: none;
    outline: none;
    background: transparent;
}

@keyframes glow {
    0% {
        filter: drop-shadow(1px 1px 5px rgba(80, 255, 89, 0.8)) drop-shadow(-1px -1px 5px rgba(80, 255, 89, 0.8));
    }

    100% {
        filter: drop-shadow(5px 5px 5px rgba(80, 255, 89, 0.8)) drop-shadow(-5px -5px 5px rgba(80, 255, 89, 0.8));
    }
}

@media (max-width: 480px) {
    .mpDatos {
        font-size: 20px;
    }
}